<div class="row">
    <div class="col-sm-8">
        <div *ngIf="showSuccessAlert.length > 0" class="alert alert-success">
            <strong>{{showSuccessAlert}}</strong>
        </div>
        <div *ngIf="showErrorAlert.length > 0" class="alert alert-danger">
          <strong>{{showErrorAlert}}</strong>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group row">
          <div class="col"> <label for="amount" >Enter the amount to deposit:</label> </div>
          <div class="col"> <input type="number" min ="1" id="amount" class="form-control col-sm-4" name="amount" [(ngModel)]="amountToDeposit" required> </div>
          <div> <label *ngIf="!validDeposit()" class="text-danger">The amount must be positif</label> </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">deposit</button>
      </form>
    </div>
  </div>
